<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/style.css" />
    <title><%= title %><%= subTitle %></title>
    <style>
      .postView-wrap {
        position: absolute;
        top: 10%;
        left: calc(50% - 600px);
        width: 1200px;
      }

      .postView-wrap h1 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 40px;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      tr {
        height: 35px;
        border-bottom: 1px solid #ccc;
        text-align: center;
        background-color: #fff;
        color: #000;
      }
      tr:first-child {
        height: 70px;
        background-color: #e9e9e9;
      }
      tr p{
        font-size: 20px;
        font-weight: bold;
      }

      .firTd {
        background-color: steelblue;
        color: #f1f1f1;
      }

      .secTd:hover {
        background-color: #f9f9f9;
      }
      .content{
        border-bottom: 1px solid #ccc;
        background-color: #f9f9f9;
        margin: 20px 0;
        height: 450px;
      }
      .content textarea{
        background-color: #f9f9f9;
        outline: none;
        resize: none;
        border: none;

      }
      .btn-wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        }

      .upDelBtn {
        background-color: steelblue;
        color: #fff;
        border-radius: 3px;
        padding: 7px 12px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <%- include('inc/_nav') %>
      <div class="postView-wrap">
        <h1>게시물 상세보기</h1>
        <div class="table-wrap">
          <table>
            <tr>
              <td colspan="2"><p><%= result[0].title %></p></td>
            </tr>
            <tr>
              <td class="firTd">작성자</td>
              <td class="secTd"><%= result[0].username %></td>
            </tr>
            <tr>
              <td class="firTd">조회수</td>
              <td class="secTd"><%= result[0].visit %></td>
            </tr>
              <td class="firTd">등록일</td>
              <td class="secTd"><%= result[0].regdate %></td>
            </tr>
          </table>
        </div>
        <div class="content-wrap">
            <div class="content">
                <textarea cols="169" rows="20" readonly><%= result[0].content %></textarea>  
            </div>
        </div>
        <div class="btn-wrap">
            <div class="listBtn">
              <a href="/board">
                <button type="submit" class="upDelBtn">
                  <i class="fa-solid fa-list"></i>목록
                </button>
              </a>
            </div>
            <div class="upDelBtn-wrap">
              <a href="/upPost/<%= result[0].idx %>">
                <button type="submit" class="upDelBtn">
                  <i class="fa-solid fa-pen-to-square"></i>수정
                </button>
              </a>
              <a
                href="/delPost/<%= result[0].idx %>"
                onclick="return confirm('게시물을 삭제하시겠습니까?');"
              >
                <button type="submit" class="upDelBtn" style="margin-left: 10px">
                  <i class="fa-solid fa-trash-can"></i>삭제
                </button>
              </a>
            </div>
          </div>
      </div>
    </div>
  </body>
</html>
