<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/post.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title><%= title %><%= subTitle%></title>
  </head>
  <body>
    <div class="container">
      <%- include('inc/_nav') %>
      <div class="addPost-wrap">
        <div class="header">
          <h1>게시글 수정</h1>
          <form method="post" action="/upPost" autocomplete="off">
            <div class="addPost">
              <div class="title">
                <input type="hidden" name="idx" value="<%= result[0].idx %>" />
                <label>제목</label>
                <input
                  type="text"
                  value="<%= result[0].title %>"
                  name="title"
                  placeholder="제목"
                  required
                />
              </div>
              <div class="writer">
                <label>작성자</label>
                <input
                  type="text"
                  value="<%= result[0].username %>"
                  name="username"
                  placeholder="작성자"
                  required
                />
              </div>
              <div class="ta">
                <textarea
                  type="text"
                  name="content"
                  id="content"
                  cols="130"
                  rows="30"
                  required
                >
                  "<%= result[0].content %>"
                </textarea>
              </div>
              <div class="btn-wrap">
                <a href="/board">
                  <button type="submit" class="listBtn">
                    <i class="fa-solid fa-list"></i>목록
                  </button>
                </a>
                <a href="/addPost">
                  <button type="submit" class="addBtn">
                    <i class="fa-solid fa-pen-to-square"></i>수정
                  </button>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
